# Logs
logs
*.log
npm-debug.log*

node_modules
dist
coverage
*.local
.env
.env.*
!.env.example

# Editors and operating systems
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
